$duration: 1s;
$delay: .2s;
$function: ease;
$fill: both;
$visibility: hidden;

@import "properties";
@import "bounce";
@import "bounceIn";
@import "bounceInDown";
@import "bounceInLeft";
@import "bounceInRight";
@import "bounceInUp";

.bounce {
	@include bounce($duration, $delay, $function, $fill, $visibility);
}
.bounceIn {
	@include bounceIn($duration, $delay, $function, $fill, $visibility);
}
.bounceInDown {
	@include bounceInDown($duration, $delay, $function, $fill, $visibility);
}
.bounceInLeft {
	@include bounceInLeft($duration, $delay, $function, $fill, $visibility);
}
.bounceInRight {
	@include bounceInRight($duration, $delay, $function, $fill, $visibility);
}
.bounceInUp {
	@include bounceInUp($duration, $delay, $function, $fill, $visibility);
}